<div class="container">
    <div class="chart">
        <!-- <h1>Xeotek - Time Travel</h1> -->
        <highcharts-chart *ngIf="chartOptions" [Highcharts]="Highcharts" [constructorType]="'stockChart'" [options]="chartOptions" class="highcharto">
        </highcharts-chart>
    </div>
    <div class="items">
        <div *ngFor="let item of data.slice().reverse()" class="item" @fadeSlideInOut>
            <div class="time">{{item.time|date:'medium'}}</div>
            <div class="value">{{item.value|number}} $</div>
        </div>
    </div>
</div>